
.UpdateEmployee {
	padding:0;
    margin:0;
    box-sizing: border-box;
	height: 100%;
	background-color: aqua;
}
.UpdateEmployee  form> span {
    right: 230px;
    position: absolute;
    color: red;
    text-align: center;
    	
}
.UpdateEmployee > label{
    text-align: center;
    	
}
.UpdateEmployee > form {
    text-align: center;
    width:270px;
    height:50vh;
	
}
.UpdateEmployee >form> input {
    width:100%;
    box-sizing: border-box;
    margin: 0 0 10px 0;
	
}
.UpdateEmployee >form > button {
    width:50%;
    margin: 0 0 2px 0;
}
.UpdateEmployee> h5 {
    color: green;
    text-align: center; 
}